@import '../app/styles/variables.scss';
@import './buttons/buttons.scss';

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}






body{
    background-color: $blanco-verde;
}

strong{
	font-weight: 700;
}

.header__master{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $blanco-verde;
    padding: 10px 15px;
    border-radius: 50px;
    margin-top: 4px;
    margin-left: 4px;
    margin-right: 4px;

	@include media390px {
		margin-left: 6px;	
		padding: 10px 4px;
	}

}

.header__logo{

	.header__var-logo1{
		display: block;

		@include media390px {
			display: none;
		}
	}

	.header__var-logo2{
		display: none;

		@include media390px {
			display: block;
		}

		@include media300px {
			display: none;
		}
	}

	.header__var-logo3{
		display: none;

		@include media300px {
			display: block;
		}
	}
}

.header__nav{
    display: flex;
    gap: 8px;
}

.master{
	width: 70%;
	margin: 0 auto 60px auto;
}


//4K
@media only screen and (max-width: 2200px) {
    
	.master{
		width: 80%;
	}
  }



  //LAPTOP
@media only screen and (max-width: 1200px) {
    
	.master{
		width: 90%;
	}
  }

